{% extends 'base.html' %}

{% block title %}

    Mikko Romasanta

{% endblock %}

{% block content %}

    <div class="container">
        <div class="content">
            <p class="title"";">MIKKO ROMASANTA</p>
            <!-- <div id="paragraph">< -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque id nibh tortor id aliquet. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Ac placerat vestibulum lectus mauris.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut etiam sit amet nisl. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Semper viverra nam libero justo. Ac turpis egestas maecenas pharetra convallis. Facilisis leo vel fringilla est ullamcorper eget nulla.</p>
                <br>
            <!-- </div> -->
            <img src="{{url_for('static',filename='images/xofgif.gif')}}" alt="avatar" id="avatar" height="100px">
            <hr>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <div class="footer">
        
        <a href="https://github.com/mikkoRomasanta" target="_blank"><i class="fab fa-github footer-item"></i></a>
        <a href="https://www.linkedin.com/in/mikkoRomasanta" target="_blank"><i class="fab fa-linkedin footer-item"></i></a>
        <!-- <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f footer-item"></i></a> -->
    </div>

{% endblock %}