{% extends 'base.html' %}

{% block title %}

    Mikko Romasanta

{% endblock %}

{% block content %}

    <div class="container">
        <div class="content">
            <div class=row>
                <div class="col-sm-12">
                    <p class="title">MIKKO ROMASANTA</p>
                    <div id="paragraph">
                        <p>Hello, I am Jonathan Mikko Romasanta. I am a BSIT graduate with a major in Networking who just got back into coding due to the nature of my previous job.</p>
                        <p>I worked as a in-house technical support staff for a company located at Clark, Angeles City Pampanga. Being part of a 6 person IT team in a company with more than 5,000 staff, I had to
                            perform a lot of roles. From handling Hardware/Software issues, to networking, system administration, and to converting manual processes to web applications and deploying them in the company's intranet.</p>
                        <p>Building those web apps re-ignited my passion for coding. Back when I was in highschool, coding random apps/games just for the joy of it. Although I have experience with PHP(Laravel) I am now practicing with Python and would love to work as a <span class="fw-bold">Backend Developer.</span></p>
                        <br>
                    </div>
                    <img src="{{url_for('static',filename='images/xofgif.gif')}}" alt="avatar" id="avatar" height="100px">
                    <hr>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <div class="footer">
        
        <a href="https://github.com/mikkoRomasanta" target="_blank"><i class="fab fa-github footer-item"></i></a>
        <a href="https://www.linkedin.com/in/mikkoRomasanta" target="_blank"><i class="fab fa-linkedin footer-item"></i></a>
        <!-- <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f footer-item"></i></a> -->
    </div>

{% endblock %}