{% extends 'base.html' %}

{% block title %}

    Mikko Romasanta's Skills

{% endblock %}

{% block content %}

    <div class="container">
        <div class="content">
            <img src="{{url_for('static',filename='images/xofgif.gif')}}" alt="avatar" id="avatar" height="100px">
            <p class="title">SKILLS</p>
            <div class="row">
                <div class="col-sm" id="skills">
                    <h2>Main skills</h2>
                    <ul>
                        <li><span>Computer Hardware/Software:</span> Installation, Troubleshooting, Maintenance</li>
                        <li>PHP(Laravel)</li>
                        <li>Python(Flask)</li>
                        <li>MySql</li>
                        <li>Linux(Ubuntu)</li>
                    </ul>
                </div>
                <div class="col-sm" id="misc">
                    <h2>I also have some experience with these programs:</h2>
                    <ul>
                        <li>Microsoft Office</li>
                        <li>Adobe Photoshop & Illustrator</li>
                        <li>AWS</li>
                    </ul>
                    
                </div>
            </div>
            <hr>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <div class="footer">
        
        <a href="https://github.com/mikkoRomasanta" target="_blank"><i class="fab fa-github footer-item"></i></a>
        <a href="https://www.linkedin.com/in/mikkoRomasanta" target="_blank"><i class="fab fa-linkedin footer-item"></i></a>
        <!-- <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f footer-item"></i></a> -->
    </div>

{% endblock %}